@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "nunito-light";
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "nunito-bold";
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "nunito-italic";
  src: url("../fonts/Nunito-Regular-Italic.ttf");
}
.checkbox-custom:checked {
  @apply bg-emerald-500 border-emerald-500;
}
.checkbox-custom:checked:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../icons/Icons-Check.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .resize-webkit-time-picker-indicator::-webkit-calendar-picker-indicator {
    transform: scale(1.5);
  }
}

.text-stroke-3 {
  background-image: linear-gradient(#10b981, #10b981);
  background-clip: text;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  color: white;
  letter-spacing: 6px;
}

.text-stroke-white {
  background-image: linear-gradient(white, white);
  background-clip: text;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  color: #10b981;
  letter-spacing: 6px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 18px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 50px;
  border: 5px solid #ffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981bd;
}
